body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    .container {
      margin-top: 2rem;
    }
    h1 {
      font-size: 2rem;
      color: #0070f3;
    }
}

